.whxmTabList{background: #fff;margin-top:15px;color: #585858;word-break:break-all;}
.whxmTabList th,.whxmTabList td{text-align: center;}
.whxmTabList thead{background-color: #dbe7ee;border-bottom:1px solid #e3e7e0;}
.whxmTabList thead th{padding: 15px 0;font-size: 0.9rem;font-weight: normal;border:1px solid #e6e4e4;}
.whxmTabList tbody td{padding: 5px 0;border: 1px solid #e6e4e4;}

/*分页*/
.whxmPage{float: right;margin: 20px 0;color: #5b5b5b;font-size: 0.9em;}
.whxmP_num,.whxmP_skip{float: left;}
.whxmP_skip em,.whxmP_skip input{float: left;height:26px;line-height: 26px;padding:0 4px;font-style: normal;}
.whxmP_skip input{width: 20px;height:26px;text-align: center;background-color: transparent;}
.whxmP_num a{float: left;height: 26px;line-height: 26px;padding: 0 10px;margin-right: 5px;border: 1px solid #ddd;color: #5b5b5b;cursor:pointer;cursor:hand;}
.whxmP_num a.active{border: 1px solid #edeeec;background:#98cae9;cursor: default;color: #fff;}
.whxmP_num a:hover{border: 1px solid #edeeec;}
.whxmP_num span{height:26px;line-height:26px;padding:0 8px;float:left;margin-right: 5px;border: 1px solid #ddd;}
.whxmP_num span.dot{border:none;}
.whxmP_num .whxmPagePrev{position:relative;padding-left:18px;margin-right: 12px;cursor:pointer;cursor:hand;}
.whxmP_num .whxmPageNext{position:relative;padding-right:18px;margin-left: 7px;cursor:pointer;cursor:hand;}
.whxmP_num .arr{position:absolute;width: 6px;height: 6px;border-top:2px solid #6d6d6d;border-right:2px solid #6d6d6d;top:9px;}
.whxmP_num .whxmPagePrev .arr{left:8px;-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);-o-transform: rotate(-135deg);-ms-transform: rotate(-135deg);transform: rotate(-135deg);}
.whxmP_num .whxmPageNext .arr{right:7px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.whxmP_num .whxmPagePrev:hover,.whxmP_num .whxmPageNext:hover{color: #8ab766;}
.whxmP_num .whxmPageNext:hover b,.whxmP_num .whxmPagePrev:hover b{border-color: #8ab766;}
.whxmP_num .whxmPagePrev.disabled,.whxmP_num .whxmPageNext.disabled{color: #5b5b5b;cursor: default;background: #edeeec;border-color: #dadada;}
.whxmP_num .disabled b{border-color:#9e9e9e;}
.whxmP_num span.disabled:hover{border:1px solid #5fa4ce;}
.whxmP_num span.disabled:hover b{border-color:#5fa4ce;}
.whxmP_skip a{border:1px solid #ddd;color: #5b5b5b;padding: 0 16px;height: 26px;line-height: 26px;float: left;background-color: #e3e3e3;}
.whxmP_skip a:hover{background: #98cae9;color:#fff;} 

.addWhxmForm{word-break: break-all;padding-bottom:20px;}
.addWhxmForm input.focused{border-color:red;}

#addWhxmForm table{width: 100%;color: #585858;}
#addWhxmForm table input{padding-left:0px;}
#addWhxmForm table tr{height:30px;border: 1px solid #e6e4e4;border-collapse: collapse;}
.whxmAddDynamicTable{border-collapse: collapse;border: 1px solid #e6e4e4;margin-top:10px;}
.whxmAddDynamicTable th{border: 1px solid #e6e4e4;text-align: center;}
.whxmAddDynamicTable td{border: 1px solid #e6e4e4;}
.whxmAddDynamicTable tr td input{width:90%;height:30px;}
.whxmAddDynamicTable tr td select{width:100%;height:30px;}
.right{text-align:right;}
.left{text-align:left;}
.center{text-align:center;}
.requiredSymb{color: red;font-size: 12px;height: 30px;line-height: 30px;vertical-align: middle;text-align: center;margin-left: 2px;}

/*验证提示框样式*/
.whxmTips{position: absolute;top: 30px;left: 15px;background-color:#ddebf3;border:1px solid #b9b9b9;padding:3px 25px 4px 15px;box-shadow: 0 0 2px 1px #d9d9d9;-ms-box-shadow: 0 0 2px 1px #d9d9d9;-webkit-box-shadow: 0 0 2px 1px #d9d9d9;-moz-box-shadow: 0 0 2px 1px #d9d9d9;z-index: 100;}
span.whxmTips:before{content: "";position:absolute;width: 8px;height: 6px;left:7px;top: -6px;background: url("../img/icons1.png") -81px -2px no-repeat;}

.updateList{border-collapse: collapse;margin-top:20px;}
.updateList tr{height:30px;}
.updateList tr th{text-align: center;}
.updateList tr td,.updateList tr th{border: 1px solid}


